In [1]:
import pandas as pd
from pathlib import Path

current_dir = Path().resolve()
air_quality_csv_path = current_dir.parent.parent / "src" / "database" / "data" / "air_quality_data" / "raw" / "air_quality_with_province.csv"
air_quality_csv_path = current_dir.parent.parent / "src" / "database" / "data" / "air_quality_data" / "processed" / "air_quality.csv"

air_quality_raw_df = pd.read_csv(air_quality_csv_path)
air_quality_df = pd.read_csv(air_quality_csv_path)
display(air_quality_raw_df.head())
display(air_quality_df.head())

,Air Pollutant,Air Pollutant Description,Data Aggregation Process,Year,Air Pollution Level,Unit Of Air Pollution Level,Air Quality Station Type,Air Quality Station Area,Altitude,Province,Quality
0,no2,Nitrogen dioxide (air),Annual mean / 1 calendar year,1991-01-01,80.639,ug/m3,Background,urban,593.0,Madrid,RAZONABLEMENTE BUENA
1,no2,Nitrogen dioxide (air),Annual mean / 1 calendar year,1991-01-01,85.108,ug/m3,Traffic,urban,704.0,Madrid,RAZONABLEMENTE BUENA
2,no2,Nitrogen dioxide (air),Annual mean / 1 calendar year,1991-01-01,43.283,ug/m3,Traffic,urban,3.0,Barcelona,RAZONABLEMENTE BUENA
3,no2,Nitrogen dioxide (air),Annual mean / 1 calendar year,1991-01-01,54.271,ug/m3,Industrial,suburban,34.0,Barcelona,RAZONABLEMENTE BUENA
4,no2,Nitrogen dioxide (air),Annual mean / 1 calendar year,1991-01-01,71.633,ug/m3,Traffic,urban,629.0,Madrid,RAZONABLEMENTE BUENA

,Air Pollutant,Air Pollutant Description,Data Aggregation Process,Year,Air Pollution Level,Unit Of Air Pollution Level,Air Quality Station Type,Air Quality Station Area,Altitude,Province,Quality
0,no2,Nitrogen dioxide (air),Annual mean / 1 calendar year,1991-01-01,80.639,ug/m3,Background,urban,593.0,Madrid,RAZONABLEMENTE BUENA
1,no2,Nitrogen dioxide (air),Annual mean / 1 calendar year,1991-01-01,85.108,ug/m3,Traffic,urban,704.0,Madrid,RAZONABLEMENTE BUENA
2,no2,Nitrogen dioxide (air),Annual mean / 1 calendar year,1991-01-01,43.283,ug/m3,Traffic,urban,3.0,Barcelona,RAZONABLEMENTE BUENA
3,no2,Nitrogen dioxide (air),Annual mean / 1 calendar year,1991-01-01,54.271,ug/m3,Industrial,suburban,34.0,Barcelona,RAZONABLEMENTE BUENA
4,no2,Nitrogen dioxide (air),Annual mean / 1 calendar year,1991-01-01,71.633,ug/m3,Traffic,urban,629.0,Madrid,RAZONABLEMENTE BUENA

In [5]:
air_quality_df.isna().sum()

Air Pollutant                      0
Air Pollutant Description          0
Data Aggregation Process           0
Year                               0
Air Pollution Level                0
Unit Of Air Pollution Level        0
Air Quality Station Type           0
Air Quality Station Area           0
Altitude                           3
Province                       15564
Quality                            0
dtype: int64