In [ ]:
import pandas as pd
from pathlib import Path

current_dir = Path().resolve()
socioeconomic_raw_csv_path = current_dir.parent.parent / "src" / "database" / "data" / "socioeconomic_data" / "raw" / "PIB per cap provincias 2000-2021.csv"
socioeconomic_processed_csv_path = current_dir.parent.parent / "src" / "database" / "data" / "socioeconomic_data" / "processed" / "socioeconomic.csv"

raw_socioeconomic_df = pd.read_csv(socioeconomic_raw_csv_path, sep=';', decimal=',', encoding='ISO-8859-1')
socioeconomic_df = pd.read_csv(socioeconomic_processed_csv_path)
#socioeconomic_df.head()
#raw_socioeconomic_df.head()

           Province        anio     pib
0       Araba/Alava  2000-01-01  22.134
1          Albacete  2000-01-01  12.032
2  Alicante/Alacant  2000-01-01  14.140
3           Almeria  2000-01-01  15.192
4             Avila  2000-01-01  12.532